.section-cours{
    border:solid 2px black;
    display:inline-table;
    display: grid;
    margin: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(230, 203, 203); 
    article{
        border: 2px solid black;
        margin: 20px;
        
    }
}


